<div id="jogwheel-control-jog-xy" class="jog-panel">
    <div id="wheel1" data-wheelnav>
    </div>
    <div id="wheel10" data-wheelnav>
    </div>
    <div id="wheel100" data-wheelnav>
    </div>
</div>
<div id="jogwheel-control-jog-z" class="jog-panel">
    <div id="jog_z" data-wheelnav>
    </div>
</div>
