#control div.distance {
    height: 233px;
}

#settings_plugin_jogwheel input.input-color {
    height: 30px;
    width: 50px;
}

#jogWheelControl {
    float: left;
    width: 320px;
}

symbol#JogRose text.scl {
    fill: white !important;
    stroke: white !important;
}

symbol#JogRose circle.scl {
    stroke: red !important;
    stroke-width: 3 !important;
}
